@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font_lato: "Lato", sans-serif;
  --font_lilita: "Lilita One", sans-serif;

  --red: #f43127;
  --yellow: #f59a1b;
  --beige: #fae2cb;
  --brown: #3b200b;
  --title_brown: #635352;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

body {
  font-family: var(--font_lato);
}